* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-about-content {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* background: crimson; */
}

.wrapper-about-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.wrapper-about-text h4 {
    color: rgba(204, 204, 204, 0.8);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

.wrapper-about-text h1 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

.wrapper-about-text p {
    color: rgba(204, 204, 204, 0.8);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

.swiper {
    width: 70%;
    height: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  span.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  span.swiper-pagination-bullet-active {
    color: #0f0f0f;
    background: #f5f5f5;
  }
/* My experiences Styling */
.wrapper-experiences-content {
  width: 100%;
  height: 100vh;
  display: flex;
  positionn: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #05050A;
  z-index: 100;
  gap: 32px;
}

.wrapper-experiences-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.wrapper-experiences-text h4 {
  color: rgba(204, 204, 204, 0.8);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

.wrapper-experiences-text h1 {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

.wrapper-experiences-text p {
  color: rgba(204, 204, 204, 0.8);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

.wrapper-experiences-text p span a {
  color: rgba(204, 204, 204, 0.8);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

.wrapper-job-experiences {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.wrapper-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.office-text {
  width: 100%;
  color: rgba(205, 205, 205, 1);
  font-size: 18px;
  text-align: left;
}

.jobtitle-text {
  width: 100%;
  color: rgba(204, 204, 204, 0.8);
  font-size: 18px;
  text-align: left;
}

.experiences-text {
  width: 100%;
  color: rgba(204, 204, 204, 0.8);
  font-size: 18px;
  text-align: left;
}

.text-animate {
  height: auto;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #05050A;
  
}

.wrapper__txanimate {
  height: 100vh;
}

.text-animate .wrapper__txanimate h1 {
  font-size: clamp(0.5rem, 4vw, 8rem);
  text-transform: uppercase;
  text-align: center;
}